
.container {
    display: flex;
    align-items: baseline;
}

.box {
    height: 40px;
    width: 40px;
    display: flex;
    background-color: blanchedalmond;
    border: solid black 1px;

    
}

.btn {
    width: 40px;

}


.answer {
    margin-top: 40px;
}